:root {
  --color-black: #000000;
  --color-primary: #34536a;
  --color-secondary: #727272;
  --color-gray_light: #eeeff1;
  --color-light: #f9f9f9;
  --color-white: #ffffff;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --letter-spacing: 0.1em;

  --line-height-normal: 1.2;
  --line-height-lg: 1.64;

  --container-primary: 1110px;
  --container-sm: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 2);
}

/*typography*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-normal);
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
}

/*common classes*/

.container {
  width: min(100% - var(--gap-lg), var(--container-primary));
  margin-inline: auto;
}

.container__sm {
  width: min(100% - var(--gap-lg), var(--container-sm));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 66px;
  padding-bottom: 113px;
  background-color: var(--color-gray_light);
  min-height: 700px;
}

/*navbar*/

.navbar {
  margin-bottom: 162px;
}
.navbar__list {
  display: flex;
  gap: 43px;
}

.navbar_link {
  display: block;
  color: var(--color-black);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 0;
}

.navbar_link:hover {
  color: var(--color-primary);
}

/*content*/

.content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.content__title {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-lg);
  margin: -29px 0 4px;
}

.content__description {
  color: var(--color-secondary);
  line-height: var(--line-height-lg);
  margin-bottom: 26px;
}

.content__link {
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-primary);
  padding: 0.5em;
  display: flex;
  min-width: 225px;
  min-height: 65px;
  justify-content: center;
  align-items: center;
}

/*section*/

.section {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: var(--color-light);
}

.section__title {
  color: var(--color-black);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 39px;
}

.section__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
}

/*experience*/

.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0 88px;
}

.experience__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}

.experience-item {
  display: flex;
  gap: var(--gap);
}

.experience-item__description {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.experience-item__number {
  font-size: 1.3125rem; /*21px*/
  font-weight: 500;
}

.experience-item__text {
  /* ! видаляємо, бо заважає pixel perfect*/
  /* line-height: var(--line-height-lg); */
}

.experience-item__image {
  order: -1;
}

/*video*/

.video {
  background-color: var(--color-light);
  padding-bottom: 100px;
}

.video__iframe {
  width: 100%;
  height: 600px;
}

/*footer*/

.footer {
  background-color: var(--color-primary);
  padding: 40px 0;
  color: var(--color-white);
}
.footer__name {
  font-size: 1.3125rem; /*21px*/
  font-weight: 500;
}
.footer__copyright {
  font-size: 0.8125rem; /*13px*/
  line-height: var(--line-height-lg);
}
